@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700&display=swap');

body {
  font-family: 'Golos Text', sans-serif;
}
.container {
  width: clamp(300px, 100%, 1280px);
}

.movie-card {
  position: relative;
}

.movie-card h3 {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  font-weight: 400;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.movie-card img {
  aspect-ratio: 2/3;
  object-fit: cover;
  scale: 0.9;
  width: 100%;
}

.movie-card img:hover {
  cursor: pointer;
  scale: 1;
}